body {
  font-family: Helvetica;
  display: block;
  text-align: center
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

div {
  display: block;
}

a {
  color: white;
  font-size: 18px;
}

.header {
  background-image: url('../images/the-flatiron-building.png');
  color: white;
  text-align: center;
}

.break {
  background-image: url('../images/the-flatiron-building.png');
  color: white;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

.nav {
  color: white;
  font-size: 18px
}
